header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0.5rem;
    height: 100vh;
}
.header-img{
    width: 100%;
    align-self: center;
}
.header-content{
   display: flex;
   flex-direction: column;
}
.header-main{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}
.header-main h1{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.header-main button{
    background-color: #000;
    color: #fff;
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2 rem 1.5rem;
    border: none;
    outline: none;
    font-size: 1.3rem;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    cursor: pointer;
    margin-top: 2.5rem;
}
.header-main p{
     font-weight: 500;
}

/* Responsive */

@media(max-width:768px){
    .header-main h1{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .header-main p{
        font-size: 0.8rem;
   }
   .header-main button{
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    margin-top: 1.5rem;
}

}